<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Rotate</title>
    <style>
        .header{
            text-align: center;
        }
        .header h3{
            font-family: 'Courier New', Courier, monospace;
            font-size:x-large
        }
        .div1{
            position: relative;
            text-align: center;

        }
    </style>
</head>
<body>
    <div class="header">
        <h3>PDF Rotate</h3>
    </div>
    <div class="div1">
        <form action="http://localhost:5000/" method="POST" enctype=multipart/form-data>
            <input type="file" name="file" id="file"><br><br>
            <input type="number" name="angle" id="angle"><br><br>
            <input type="number" name="page" id="page"><br><br>
            <input type="submit" value="rotate">
        </form>
    </div>
</body>
</html>